*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    margin-bottom: 25px;
    color: coral;
  
}

body{
   
   
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(80,80,176,1) 17%, rgba(0,212,255,1) 100%); 
    margin-left: -30px;
}

p{
    color: rgba(66, 58, 58, 0.942);
}
.container{

    color: rgb(249, 75, 11);
    
    height: 400px;
    margin-left: 80vh; 
    margin-top: 7vw;
    max-width: 600px;
    padding-top: 25px;
    text-align: center;
    border: 6px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

}
 button{

    
    margin-top: 4vh;
    margin-left: 25vh;
    width: 120px;
    font-weight: 600; 
    
}
input{

    height: 30px;
    margin-top: 20px;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 10px;
}
#resultat{
    margin-top: 2vh;
    font-size: 20px;
}
